<div class="center jumbotron">
  <h1>Welcome to Members-only, the Gossip website</h1>
  <h3>A website to dedicated to trash talking</h3>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

